*
{
	margin:0px;
	padding:0px;
}

.header .header-1 .para
{
	position: relative;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	background:rgba(241, 69, 17, 0.993);
	width:10%;
	min-width: 5em;
	border: 2px solid black;
	border-radius: 50px;
	color: white;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	border-style: solid;
	border-width: 0.1rem;
	font-weight: bold;
}

.header .header-1 .button
{
	position: relative;
	text-align: center;
	top: 10;
	left: 90%;
	transform: translate(-60%, -100%);
	width: 3%;
	min-width: 3%;
	height: 5%;
	min-height: 5%;
	display: grid;
	justify-content: center;
	/* align-items: center; */
	font-size: 2rem;
	color: #fff;
	border: 2px solid #333;
	border-radius: 50%;
	background: #666;
}
.logout
{
	margin-right: 9%;
	padding: .6% .65% .6% 1%;
	font-family: 'Open Sans', sans-serif;
	border-radius: 16px;
	border: 1.5px solid black;
	text-align: left;
	float:right;
	width: 8%;
	min-width: 8%;
	height: 50%;
	min-height: 50%;
	transform: translate(1.5%, -97%);
	border-style: solid;
	font-weight: bold;

	
}
.name
{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 45px 10px 10px 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.idno
{
	position: relative;

	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 15px 10px 10px 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	color:red;
}



.left
{
	margin-left: 5.5%;
	width:40%;
	float:left;
	text-align: center;
	border: 2px solid grey;
	font-family: 'Open Sans', sans-serif;
	border-radius: 16px;
	min-width: 1%;
	padding: .5% .5% .5% .5%;
	background:rgb(220,220,220);
	color: rgba(119, 117, 117, 0.685);
	font-size: 120%;


}
.mid
{
	
	width:5%;
	float:left;
	text-align: center;
	border: 2px solid black;
	font-family: 'Open Sans', sans-serif;
	border-radius: 16px;
	min-width: 2em;
	padding: .5% .5% .5% .5%;
	color:whitesmoke;
	background: gray;
	font-size: 120%;
	min-width: 2.3em;
	/* transform: translate(-50%, -50%); */



}
.right
{
	
	width:40%;
	float:left;
	text-align: center;
	border: 2px solid black;
	font-family: 'Open Sans', sans-serif;
	border-radius: 16px;
	/* min-width: 4em; */
	padding: .5% .5% .5% .5%;
	font-size: 120%;
	transform: translate(-15%, 0%);



}
.fl_left
{
	margin-left: 5.5%;
	width:30%;
	float:left;
	text-align: center;
	/* border: 2px solid grey; */
	font-family: 'Open Sans', sans-serif;
	/* border-radius: 16px; */
	min-width: 1%;
	/* padding: .5% .5% .5% .5%; */
	/* background:rgb(220,220,220); */
	color:black;
	font-size: 120%;
}
.fl_mid
{
	width:25%;
	float:left;
	text-align: center;
	/* border: 2px solid black; */
	font-family: 'Open Sans', sans-serif;
	/* border-radius: 16px; */
	min-width: 2em;
	/* padding: .5% .5% .5% .5%; */
	color:black;
	/* background: gray; */
	font-size: 120%;
	min-width: 2.3em;
}
.fl_right
{
	
	width:30%;
	float:left;
	text-align: center;
	/* border: 2px solid black; */
	font-family: 'Open Sans', sans-serif;
	border-radius: 16px;
	/* min-width: 4em; */
	/* padding: .5% .5% .5% .5%; */
	font-size: 120%;
	transform: translate(-15%, 0%);
}
.percentage
{
	color:red;
}
.fl1_left
{
	margin-left: 5.5%;
	width:20%;
	float:left;
	text-align: center;
	/* border: 2px solid grey; */
	font-family: 'Open Sans', sans-serif;
	/* border-radius: 16px; */
	min-width: 1%;
	/* padding: .5% .5% .5% .5%; */
	/* background:rgb(220,220,220); */
	color:black;
	font-size: 120%;
}
.fl1_mid
{
	width:25%;
	float:left;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	min-width: 2em;
	color:black;
	font-size: 120%;
}
.fl1_right
{
	
	width:20%;
	float:left;
	text-align: center;
	/* border: 2px solid black; */
	font-family: 'Open Sans', sans-serif;
	border-radius: 16px;
	/* min-width: 4em; */
	/* padding: .5% .5% .5% .5%; */
	font-size: 120%;
	transform: translate(-15%, 0%);
}
.hov
{
	/* display: none; */
}
.box
{
	transform: translate(0%, -55%);
	margin-left: 5.5%;
	border-radius:16px;
	border: 1.5px solid black;
	width:82.5%
	

	/* float:center; */
}
